# Godot-specific ignores
.godot/
export_presets.cfg
rcedit-x64.exe

# Large Binary Files (Builds)
*.exe
*.pck
*.pck.zip
*.zip
*.apk
*.ipa
*.app
Builds/
exports/
*.db-journal
Project_AnamoN.console.exe
.godot/mono/metadata/ide_messaging_meta.txt

# Editor-specific ignores
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Windows-specific ignores
Thumbs.db
desktop.ini

# OS-specific ignores
.DS_Store
