.vscode/
rcedit-x64.exe
libgdsqlite.windows.template_debug.x86_64.dll
export_presets.cfg
/.godot/editor

Project_AnamoN.console.exe
.godot/mono/metadata/ide_messaging_meta.txt
addons/godot-sqlite/bin/~libgdsqlite.windows.template_debug.x86_64.dll
